__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Secrets & Local User Data
credentials.json
token.json
*.db
*.sqlite3
*.log

# PyInstaller
*.manifest
*.spec

# IDEs
.idea/
.vscode/
*.swp
.pytest_cache/
